@media (max-width: 924px) {


  /* --------- Navigation Bar Start --------- */


  nav .navbar-title {
    z-index: 99;
  }

  nav .navbar-list {
    background-color: var(--dark);
    font-size: larger;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -9;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: .4s ease-in-out;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -ms-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
  }


  nav .slide {
    backdrop-filter: blur(20);
    opacity: 1;
    transform: translateX(15%);
    -webkit-transform: translateX(15%);
    -moz-transform: translateX(15%);
    -ms-transform: translateX(15%);
    -o-transform: translateX(15%);
  }

  .menu-toggle {
    display: block;
  }

  /* --------- Navigation Bar End --------- */



  /* ---------  Home Section Start ---------*/


  section .home-container {
    align-items: start;
  }

  section .home-container h3 {
    font-size: 1.2rem;
  }

  section .home-container h1 {
    font-size: 2.5rem;
  }

  section .home-container p {
    text-align: left;
  }

  section .home-container a {
    margin: 2rem auto;
  }

  /* ---------  Home Section End ---------*/

  /* ---------  About Section Start ---------*/
  section .about-container {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  section .about-container .about-container-left {
    width: 100%;
  }

  section .about-container .about-container-left h4 {
    margin-top: 1rem;
    font-size: 1.4rem;
  }

  section .about-container .about-container-left h5 {
    font-size: 1.2rem;
  }

  section .about-container .about-container-left p {
    font-size: .8rem;
  }

  section .about-container .about-container-left a {
    width: max-content;
  }

  section .about-container .about-container-right {
    justify-content: flex-end;
    width: 100%;
    padding-bottom: 2rem;
    max-width: 25rem;
  }

  section .about-container .about-container-right .img-container-1 {
    width: 15rem;
    height: 15rem;
    margin-right: 2rem;
  }


  section .about-container .about-container-right .img-container-2 {
    width: 10rem;
    height: 10rem;
  }

  /* ---------  About Section End ---------*/


  /* ---------  Choose Section Start ---------*/
  section .choose-container h4 {
    font-size: 1.5rem;
  }

  section .choose-container p {
    font-size: .8rem;
  }

  section .choose-container .choose-cards-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  section .choose-container .choose-cards-wrapper .card-container {
    width: 45%;
  }

  section .choose-container .choose-cards-wrapper .card-container .card-img {
    width: 10rem;
  }


  section .choose-container .choose-cards-wrapper .card-container h6 {
    font-size: .7rem;
  }

  section .choose-container .choose-cards-wrapper .card-container p {
    font-size: .5rem;
  }

  /* ---------  Choose Section End ---------*/



  /* ---------  Services Section Start ---------*/


  section .services-container h4 {
    font-size: 1.5rem;
    color: var(--primary);
    margin-bottom: 1.5rem;
  }

  section .services-container p {
    font-size: .8rem;
  }

  section .services-container .services-cards-wrapper {
    flex-direction: column;
  }

  section .services-container .services-cards-wrapper .card-container {
    width: 100%;
  }

  section .services-container .services-cards-wrapper .card-container .card-img {
    width: 100%;
  }

  section .services-container .services-cards-wrapper .card-container .card-img img {
    height: 100%;
  }

  section .services-container .services-cards-wrapper .card-container .card-container-desc h6 {
    font-size: 1.2rem;
  }

  /* ---------  Services Section End ---------*/




  /* ---------  Galery Section Start ---------*/


  section .galery-hero .galery-container h4 {
    font-size: 1.5rem;
  }

  section .galery-hero .galery-container p {
    font-size: .8rem;
  }

  section .galery-hero .galery-container .galery-container-option {
    gap: 1.2rem;
    justify-content: space-between;
  }

  section .galery-hero .galery-container .galery-container-option li a {
    font-size: .7rem;
  }

  section .galery-hero .galery-container .galery-container-img {
    height: 30rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  section .galery-hero .galery-container .galery-container-img .galery-container-img1 {
    grid-area: 1 / 1 / 3 / 3;
  }

  section .galery-hero .galery-container .galery-container-img .galery-container-img2 {
    grid-area: 3 / 1 / 4 / 2;
  }

  section .galery-hero .galery-container .galery-container-img .galery-container-img4 {
    grid-area: 3 / 2 / 4 / 3;
  }

  section .galery-hero .galery-container .galery-container-img .galery-container-img3 {
    grid-area: 4 / 1 / 5 / 2;
  }

  section .galery-hero .galery-container .galery-container-img .galery-container-img5 {
    grid-area: 4 / 2 / 5 / 3;
  }

  .video video {
    width: 95%;
  }

  .slides-container img {
    width: 100%;
    height: 500px;
    object-fit: contain;
  }

  .slides-container i {
    position: absolute;
    cursor: pointer;
  }

  .slides-container i.before {
    left: 10px;
    font-size: 1.5rem;
  }

  .slides-container i.next {
    right: 10px;
    font-size: 1.5rem;
  }

  /* ---------  Galery Section End ---------*/

  /* ------------ Map Section Start ------------ */
  section .map-container iframe {
    width: 100%;
    height: 300px;
  }

  /* ------------ Map Section End ------------ */




  /* ---------  Client Section Start ---------*/

  section .client-container {
    justify-content: space-around;
    gap: 2rem;
  }


  section .client-container a img {
    width: 9rem;
  }

  /* ---------  Client Section End ---------*/





  /* ------------ Reviews Section Start ------------ */
  section .review-hero .review-container h4 {
    font-size: 1.5rem;
  }

  section .review-hero .review-container p {
    font-size: .8rem;
  }

  section .review-hero .review-container .review-cards-wrapper {
    justify-content: space-around;
  }

  section .review-hero .review-container .review-cards-wrapper .review-cards-container .card-person {
    height: 4rem;
    width: 4rem;
  }


  section .review-hero .review-container .review-cards-wrapper .review-cards-container h4 {
    font-size: 1rem;
  }

  /* ------------ Reviews Section End ------------ */




  /* ------------ Contact Section Start ------------ */


  section .contact-container {
    flex-direction: column;
    gap: 2rem;
  }

  section .contact-container .contact-container-left {
    width: 100%;
  }

  section .contact-container .contact-container-left h5 {
    font-size: 1.2rem;
    font-weight: 700;
  }

  section .contact-container .contact-container-left h4 {
    font-size: 1.5rem;
    font-weight: 400;
  }

  section .contact-container form {
    width: 100%;
  }

  section .contact-container form .contact-container-form .contact-form-name,
  section .contact-container form .contact-container-form .contact-form-email {
    width: 47%;
  }

  section .contact-container form .contact-container-form .contact-form-message {
    width: 74%;
  }

  section .contact-container form .contact-container-form .contact-form-btn {
    width: 20%;
  }

  /* ------------ Contact Section End ------------ */




  /* ------------ Footer Section Start ------------ */

  footer .footer-container .footer-container-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
  }

  footer .footer-container .footer-container-top .footer-container-1,
  footer .footer-container .footer-container-top .footer-container-2,
  footer .footer-container .footer-container-top .footer-container-3 {
    width: 100%;
    padding: 0;
  }

  /* ------------ Footer Section End ------------ */
}