* {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

:root {
  /* color */
  --primary: #FBBF24;
  --dark: #171717;
  --gray: #A1A1AA;
  --white: #F5F5F4;

  /* max width */
  --max-lg: 768px;
  --max-xl: 1024px;
  --max-2xl: 1280px;
}


body {
  overflow-x: hidden;
}



/* --------- Navigation Bar Start --------- */
nav {
  background-color: var(--dark);
  position: fixed;
  z-index: 99999;
  width: 100%;
}

.scroll {
  border-bottom: 1px solid var(--primary);
}

nav .nav-container {
  max-width: var(--max-xl);
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}

nav .navbar-title {
  color: var(--primary);
  font-size: xx-large;
  font-weight: bolder;
}

nav .navbar-list {
  display: flex;
  z-index: 9;
  justify-content: space-between;
  align-items: center;
  gap: 2.5em;
}


nav .navbar-list li a {
  color: var(--white);
  font-weight: light;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}


nav .navbar-list li a:hover {
  color: #efaf20;
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -6px;
  top: -5px;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #fff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  margin-bottom: 5px;
}


/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
  transform: rotate(45deg) translate(-2px, 0px);
  -webkit-transform: rotate(45deg) translate(-2px, 0px);
  -moz-transform: rotate(45deg) translate(-2px, 0px);
  -ms-transform: rotate(45deg) translate(-2px, 0px);
  -o-transform: rotate(45deg) translate(-2px, 0px);
}

.menu-toggle input:checked~span:nth-child(4) {
  transform: rotate(-45deg) translate(-2px, 0);
  -webkit-transform: rotate(-45deg) translate(-2px, 0);
  -moz-transform: rotate(-45deg) translate(-2px, 0);
  -ms-transform: rotate(-45deg) translate(-2px, 0);
  -o-transform: rotate(-45deg) translate(-2px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

/* --------- Navigation Bar End ---------*/



/* ---------  Home Section Start ---------*/

section.home-section {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/hero.jpg");
  background-position: center;
  background-size: cover;
}

section .hero-container {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .5);
}

section .home-container {
  max-width: var(--max-xl);
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 1rem 0;
}

section .home-container h3 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--white);
  margin-bottom: 1rem;
}

section .home-container h1 {
  font-size: 4rem;
  font-weight: bold;
  color: var(--white);
}

section .home-container h1.second-title {
  color: var(--primary);
  margin-bottom: 1rem;

}


section .home-container p {
  max-width: 846px;
  color: var(--white);
  text-align: center;
  font-size: 1rem;
  line-height: 1.2rem;
}

section .home-container a {
  margin-top: 2rem;
}

a.btn {
  display: block;
  color: var(--white);
  background-color: var(--primary);
  font-size: 1rem;
  font-weight: 500;
  padding: 12px 24px;
  border-radius: .2rem;
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -ms-border-radius: .2rem;
  -o-border-radius: .2rem;
  box-shadow: 3px 3px var(--dark);
}

/* ---------  Home Section End ---------*/



/* ---------  About Section Start ---------*/
section.about-section {
  width: 100%;
  background-color: var(--dark);
}

section .about-container {
  max-width: var(--max-xl);
  height: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5rem 1rem;
  align-items: center;
}

section .about-container .about-container-left {
  width: 60%;
}

section .about-container .about-container-left h4 {
  font-size: 2rem;
  color: var(--primary);
}

section .about-container .about-container-left h5 {
  font-size: 1.7rem;
  color: var(--white);
}

section .about-container .about-container-left p {
  font-size: 1rem;
  color: var(--gray);
  margin: 1rem 0;
  margin-bottom: 2rem;
}

section .about-container .about-container-left a {
  width: max-content;
}

section .about-container .about-container-right {
  width: 40%;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

section .about-container .about-container-right .img-container-1 {
  width: 17rem;
  height: 17rem;
  overflow: hidden;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

section .about-container .about-container-right .img-container-1 .about-img-1 {
  width: 100%;
  height: 100%;
  background-image: url("../assets/1.jpg");
  background-size: cover;
  background-position: left;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  cursor: pointer;
}

section .about-container .about-container-right .img-container-2 {
  position: absolute;
  width: 11rem;
  height: 11rem;
  overflow: hidden;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transform: translate(10%, 10%);
  -webkit-transform: translate(10%, 10%);
  -moz-transform: translate(10%, 10%);
  -ms-transform: translate(10%, 10%);
  -o-transform: translate(10%, 10%);
}

section .about-container .about-container-right .img-container-2 .about-img-2 {
  width: 100%;
  height: 100%;
  background-image: url("../assets/4.jpg");
  background-size: cover;
  background-position: left;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  cursor: pointer;
}

section .about-container .about-container-right .about-img-1:hover,
section .about-container .about-container-right .about-img-2:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* ---------  About Section End ---------*/



/* ---------  Choose Section Start ---------*/
section.choose-section {
  width: 100%;
  background-color: #110800;
}

section .choose-container {
  max-width: var(--max-xl);
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 1rem;
}

section .choose-container h4 {
  font-size: 2rem;
  color: var(--primary);
  margin-bottom: 1.5rem;
}

section .choose-container p {
  text-align: center;
  font-size: 1rem;
  color: var(--white);
  max-width: var(--max-lg);
}

section .choose-container .choose-cards-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  justify-content: space-between;
  gap: 1rem;
}

section .choose-container .choose-cards-wrapper .card-container {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .choose-container .choose-cards-wrapper .card-container .card-img {
  width: 10rem;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .choose-container .choose-cards-wrapper .card-container .card-img img {
  object-fit: contain;
  object-position: center;
  width: 40%;
}

section .choose-container .choose-cards-wrapper .card-container h6 {
  text-align: center;
  font-size: 1rem;
  color: var(--white);
  margin-bottom: .5rem;
}

section .choose-container .choose-cards-wrapper .card-container p {
  font-size: .6rem;
  color: var(--gray);
  max-width: 12rem;
}

/* ---------  Choose Section End ---------*/


/* ---------  Services Section Start ---------*/

section.service-section {
  width: 100%;
  background-color: #202020;
}

section .services-container {
  max-width: var(--max-xl);
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 1rem;
}

section .services-container h4 {
  font-size: 2rem;
  color: var(--primary);
  margin-bottom: 1.5rem;
}

section .services-container p {
  text-align: center;
  font-size: 1rem;
  color: var(--white);
  max-width: var(--max-lg);
}

section .services-container .services-cards-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

section .services-container .services-cards-wrapper .card-container {
  max-width: 25rem;
  width: 30%;
  cursor: pointer;
  height: max-content;
  margin-bottom: 1rem;
  background-color: var(--dark);
  border: 1px solid var(--primary);
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  overflow: hidden;
}

section .services-container .services-cards-wrapper .card-container:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

section .services-container .services-cards-wrapper .card-container .card-img {
  width: 100%;
  height: max-content;
  overflow: hidden;
}

section .services-container .services-cards-wrapper .card-container .card-img img {
  object-position: center;
  object-fit: cover;
  width: 100%;
}

section .services-container .services-cards-wrapper .card-container .card-container-desc {
  padding: 0 .5rem;
}

section .services-container .services-cards-wrapper .card-container .card-container-desc h6 {
  text-align: left;
  font-size: 1rem;
  color: var(--white);
  padding: 1rem 0;
}

section .services-container .services-cards-wrapper .card-container .card-container-desc p {
  text-align: left;
  color: var(--gray);
  font-size: .8rem;
  margin-bottom: 1rem;
}

section .services-container .services-cards-wrapper .card-container .card-container-desc a {
  width: max-content;
  margin-bottom: 1rem;
}


/* ---------  Services Section End ---------*/



/* ---------  Galery Section Start ---------*/
section.galery-section {
  width: 100%;
  /* height: 85vh; */
  background-image: url(../assets/galery-hero.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
}

section .galery-hero {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom right, rgba(245, 158, 11, .9), var(--dark));
}

section .galery-hero .galery-container {
  max-width: var(--max-xl);
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 1rem;
}

section .galery-hero .galery-container h4 {
  font-size: 2rem;
  color: var(--white);
  margin-bottom: 1.5rem;
}

section .galery-hero .galery-container p {
  text-align: center;
  font-size: 1rem;
  color: var(--white);
  max-width: var(--max-lg);
}

section .galery-hero .galery-container .galery-container-option {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}

section .galery-hero .galery-container .galery-container-option li a {
  display: inline-block;
  color: var(--white);
  font-size: 1.1;
}

section .galery-hero .galery-container .galery-container-option li:nth-child(1) {
  padding: .5rem 1rem;
  background-color: var(--dark);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

section .galery-hero .galery-container .galery-container-img {
  display: grid;
  width: 100%;
  height: 25rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: .5rem;
}

section .galery-hero .galery-container .galery-container-img div {
  cursor: pointer;
}

section .galery-hero .galery-container .galery-container-img .galery-container-img1 {
  grid-area: 1 / 1 / 3 / 3;
  background-image: url("../assets/3.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;
}

section .galery-hero .galery-container .galery-container-img .galery-container-img1 i {
  opacity: .8;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  color: var(--primary);
}

section .galery-hero .galery-container .galery-container-img .galery-container-img1:hover i {
  opacity: 1;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}



section .galery-hero .galery-container .galery-container-img .galery-container-img2 {
  grid-area: 1 / 3 / 2 / 4;
  background-image: url("../assets/2.jpg");
  background-size: cover;
  background-position: center;
}

section .galery-hero .galery-container .galery-container-img .galery-container-img3 {
  grid-area: 1 / 4 / 2 / 5;
  background-image: url("../assets/3.jpg");
  background-size: cover;
  background-position: center;
}

section .galery-hero .galery-container .galery-container-img .galery-container-img4 {
  grid-area: 2 / 3 / 3 / 4;
  background-image: url("../assets/1.jpg");
  background-size: cover;
  background-position: center;
}

section .galery-hero .galery-container .galery-container-img .galery-container-img5 {
  grid-area: 2 / 4 / 3 / 5;
  background-image: url("../assets/4.jpg");
  background-size: cover;
  background-position: center;
}


.video {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 17, 17, .5);
  backdrop-filter: blur(5px);
  display: none;
  place-items: center;
}

.video .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.5rem;
  height: 3.5rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.video .close i {
  color: var(--primary);
}

.show {
  display: grid;
}



.slides-container {
  background-color: rebeccapurple;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 17, 17, .5);
  backdrop-filter: blur(5px);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.showSlide {
  display: flex;
}

.slides-container img {
  width: 80%;
  height: 500px;
  object-fit: contain;
}

.slides-container i {
  position: absolute;
  cursor: pointer;
  color: var(--primary);
}

.slides-container i.before {
  left: 10%;
}

.slides-container i.next {
  right: 10%;
}

.slides-container .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 3.5rem;
  height: 3.5rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.slides-container .close i {
  color: var(--primary);
}

/* ---------  Galery Section End ---------*/




/* ---------  Client Section Start ---------*/

section.client-section {
  width: 100%;
  background-color: var(--primary);
}

section .client-container {
  height: 100%;
  max-width: var(--max-xl);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 1rem;
  flex-wrap: wrap;
}

section .client-container a {
  filter: saturate(0);
  -webkit-filter: saturate(0);
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

section .client-container a img {
  width: 10rem;
  object-fit: contain;
}



/* ---------  Client Section End ---------*/






/* ------------ Reviews Section Start ------------ */
section.review-section {
  width: 100%;
  /* height: 85vh; */
  background-image: url("../assets/review-hero.jpg");
  background-size: cover;
  background-position: center;
}

section .review-hero {
  width: 100%;
  height: 100%;
  background-color: rgba(23, 23, 23, .9);
}

section .review-hero .review-container {
  height: 100%;
  max-width: var(--max-xl);
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 1rem;
}

section .review-hero .review-container h4 {
  font-size: 2rem;
  color: var(--white);
  margin-bottom: 1.5rem;
}

section .review-hero .review-container p {
  text-align: center;
  font-size: 1rem;
  color: var(--white);
  max-width: var(--max-lg);
}

section .review-hero .review-container .review-cards-wrapper {
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

section .review-hero .review-container .review-cards-wrapper .review-cards-container {
  max-width: 19rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section .review-hero .review-container .review-cards-wrapper .review-cards-container .card-comment {
  display: flex;
  background-color: var(--dark);
  padding: 0 1rem;
  cursor: pointer;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transform: translateY(15%);
  -webkit-transform: translateY(15%);
  -moz-transform: translateY(15%);
  -ms-transform: translateY(15%);
  -o-transform: translateY(15%);
}

section .review-hero .review-container .review-cards-wrapper .review-cards-container .card-comment:hover {
  background-color: var(--primary);
  transform: scale(1.03) translateY(0%);
  -webkit-transform: scale(1.03) translateY(0%);
  -moz-transform: scale(1.03) translateY(0%);
  -ms-transform: scale(1.03) translateY(0%);
  -o-transform: scale(1.03) translateY(0%);
}


section .review-hero .review-container .review-cards-wrapper .review-cards-container .card-comment .card-quote {
  height: 5rem;
  width: 3rem;
  background-image: url("../assets/quote.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

section .review-hero .review-container .review-cards-wrapper .review-cards-container .card-comment:hover .card-quote {
  background-image: url("../assets/quoteBL.png");
}

/* section .review-hero .review-container .review-cards-wrapper .review-cards-container:nth-child(2) .card-comment {
  background-color: var(--primary);
  transform: scale(1.03) translateY(0%);
  -webkit-transform: scale(1.03) translateY(0%);
  -moz-transform: scale(1.03) translateY(0%);
  -ms-transform: scale(1.03) translateY(0%);
  -o-transform: scale(1.03) translateY(0%);
}

section .review-hero .review-container .review-cards-wrapper .review-cards-container:nth-child(2) .card-quote {
  background-image: url("../assets/quoteBL.png");
} */

section .review-hero .review-container .review-cards-wrapper .review-cards-container .card-comment p {
  text-align: left;
  flex: 1;
  padding: 2.5rem 1rem;
  font-size: .8rem;
  color: var(--gray);
  line-height: 1.3;
}

/* section .review-hero .review-container .review-cards-wrapper .review-cards-container:nth-child(2) .card-comment p {
  color: var(--white);
} */

section .review-hero .review-container .review-cards-wrapper .review-cards-container .card-comment:hover p {
  color: var(--white);
}

section .review-hero .review-container .review-cards-wrapper .review-cards-container .card-person {
  z-index: 9;
  height: 5rem;
  width: 5rem;
  background-size: contain;
  margin-top: -1rem;
}

section .review-hero .review-container .review-cards-wrapper .review-cards-container .person-1 {
  background-image: url("../assets/man.png");
}

section .review-hero .review-container .review-cards-wrapper .review-cards-container .person-2 {
  background-image: url("../assets/man2.png");
}

section .review-hero .review-container .review-cards-wrapper .review-cards-container .person-3 {
  background-image: url("../assets/woman.png");
}



section .review-hero .review-container .review-cards-wrapper .review-cards-container h4 {
  color: var(--white);
  font-size: 1.2rem;
  margin-top: .5rem;
}

/* ------------ Reviews Section End ------------ */




/* ------------ Contact Section Start ------------ */
section.contact-section {
  width: 100%;
  background-color: var(--dark);
}

section .contact-container {
  height: 100%;
  max-width: var(--max-xl);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 3rem 1rem;
}

section .contact-container .contact-container-left {
  display: flex;
  width: 50%;
  flex-direction: column;
  color: var(--white);
}

section .contact-container .contact-container-left h5 {
  font-size: 1.7rem;
  font-weight: 700;
}

section .contact-container .contact-container-left h4 {
  font-size: 2rem;
  font-weight: 400;
}

section .contact-container form {
  width: 50%;
}

section .contact-container form .contact-container-form {
  width: 100%;
  /* background-color: #efaf20; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

section .contact-container form .contact-container-form .contact-form-name,
section .contact-container form .contact-container-form .contact-form-email {
  width: 48%;
}

section .contact-container form .contact-container-form .contact-form-name input,
section .contact-container form .contact-container-form .contact-form-email input,
section .contact-container form .contact-container-form .contact-form-message input,
section .contact-container form .contact-container-form .contact-form-btn button {
  width: 100%;
  padding: .6rem 1rem;
  border-radius: .3rem;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
  outline: none;
  border: none;
  border-bottom: 2px solid var(--primary);
  color: var(--dark);
  font-weight: 500;
}


section .contact-container form .contact-container-form .contact-form-message {
  width: 74%;
}

section .contact-container form .contact-container-form .contact-form-btn {
  width: 22%;
}

section .contact-container form .contact-container-form .contact-form-btn button {
  cursor: pointer;
  border: none;
  background-color: var(--primary);
  padding: .7rem 0;
  color: var(--white);
}

/* ------------ Contact Section End ------------ */







/* ------------ Map Section Start ------------ */
section.map-section {
  width: 100%;
  background-image: url(../assets/footer.jpg);
  background-size: cover;
  background-position: top;
}

section .map-hero {
  width: 100%;
  height: 100%;
  background-color: rgba(23, 23, 23, .9);
}

section .map-container {
  height: 100%;
  max-width: var(--max-xl);
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1rem 4rem;
}

.map-container h4 {
  font-size: 2rem;
  color: var(--white);
  margin-bottom: 2rem;
}

/* ------------ Map Section End ------------ */



















/* ------------ Footer Section Start ------------ */

footer.footer-section {
  width: 100%;
  background-color: #110800;
}

footer .footer-container {
  height: 100%;
  max-width: var(--max-xl);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  padding: 3rem 1rem 2rem;
  justify-content: space-between;
}

footer .footer-container .footer-container-top {
  display: flex;
  width: 100%;
  gap: 2rem;
  padding-bottom: 2rem;
}

footer .footer-container .footer-container-top .footer-container-1,
footer .footer-container .footer-container-top .footer-container-2,
footer .footer-container .footer-container-top .footer-container-3 {
  width: 32%;
  flex-direction: column;
}

footer .footer-container .footer-container-top .footer-container-1 h4,
footer .footer-container .footer-container-top .footer-container-2 h4,
footer .footer-container .footer-container-top .footer-container-3 h4 {
  font-size: 1.8rem;
  color: var(--primary);
  margin-bottom: 1.5rem;
}

footer .footer-container .footer-container-top .footer-container-1 p {
  color: var(--white);
  font-size: .9rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1rem;
}

footer .footer-container .footer-container-top .footer-container-1 h6 {
  color: var(--gray);
  font-size: 1rem;
  margin-bottom: .5rem;
}


footer .footer-container .footer-container-top .footer-container-2 ul,
footer .footer-container .footer-container-top .footer-container-3 ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

footer .footer-container .footer-container-top .footer-container-2 ul li a {
  color: var(--white);
  font-size: 1rem;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

footer .footer-container .footer-container-top .footer-container-2 ul li a:hover {
  color: var(--primary);
}

footer .footer-container .footer-container-top .footer-container-3 ul li {
  display: flex;
  align-items: center;
  color: wheat;
  gap: 1rem;
}

footer .footer-container .footer-container-top .footer-container-3 ul li .footer-container-3-icon {
  width: 1.2rem;
  height: 1.2rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

footer .footer-container .footer-container-top .footer-container-3 ul li .icon1 {
  background-image: url("../assets/location.png");
}

footer .footer-container .footer-container-top .footer-container-3 ul li .icon2 {
  background-image: url("../assets/mail.png");
}

footer .footer-container .footer-container-top .footer-container-3 ul li .icon3 {
  background-image: url("../assets/telephone.png");
}

footer .footer-container .footer-container-top .footer-container-3 ul li p {
  color: var(--white);
  font-size: .9rem;
}

footer .footer-container .footer-container-bottom {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--primary);
}

footer .footer-container .footer-container-bottom .footer-container-bottom-icon {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1.5rem;
}

footer .footer-container .footer-container-bottom .footer-container-bottom-icon a {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

footer .footer-container .footer-container-bottom p {
  color: var(--white);
  font-size: .8rem;
  margin-bottom: .5rem;
}

footer .footer-container .footer-container-bottom p a {
  color: var(--primary);
}

/* ------------ Footer Section End ------------ */



/* ------------ ScrollToTop Section Start ------------ */

div.scroll-container {
  position: fixed;
  z-index: 99999999;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--primary);
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}

.scroll-container i {
  color: var(--dark);
}

div.show-scroll-top {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

/* ------------ ScrollToTop Section End ------------ */




































@media (min-width: 1440px) {

  nav .nav-container,
  section .home-container,
  section .about-container,
  section .choose-container,
  section .services-container,
  section .galery-hero .galery-container,
  section .review-hero .review-container,
  section.client-container,
  section .contact-container,
  footer .footer-container {
    max-width: var(--max-2xl);
  }

  /*  ---------- Home Section Start */
  section .home-container h3 {
    font-size: 2.5rem;
  }

  section .home-container h1 {
    font-size: 5rem;
  }

  section .home-container p {
    font-size: 1.3rem;
    line-height: 1.8rem;
    max-width: 1080px;
  }

  section .home-container a {
    font-size: 1.5rem;
    box-shadow: 6px 6px var(--dark);
  }

  /*  ---------- Home Section End */


  /* ---------  About Section Start ---------*/



  section .about-container .about-container-left h4 {
    font-size: 2.5rem;
  }

  section .about-container .about-container-left h5 {
    font-size: 2rem;
  }

  section .about-container .about-container-left p {
    font-size: 1rem;
  }

  section .about-container .about-container-left a {
    width: max-content;
  }

  section .about-container .about-container-right .img-container-1 {
    width: 20rem;
    height: 20rem;
  }

  section .about-container .about-container-right .img-container-2 {
    width: 13rem;
    height: 13rem;
  }

  /* ---------  About Section End ---------*/


  /* ---------  Choose Section Start ---------*/


  section .choose-container h4 {
    font-size: 2.5rem;
  }

  section .choose-container p {
    font-size: 1.2rem;
    max-width: var(--max-xl);
  }


  section .choose-container .choose-cards-wrapper .card-container .card-img {
    width: 13rem;
    height: 10rem;
  }

  section .choose-container .choose-cards-wrapper .card-container h6 {
    font-size: 1.2rem;
  }

  section .choose-container .choose-cards-wrapper .card-container p {
    font-size: .8rem;
    max-width: 15rem;
  }

  /* ---------  Choose Section End ---------*/



  /* --------- Services Section Start ---------- */
  section .services-container h4 {
    font-size: 2.5rem;
  }

  section .services-container p {
    color: var(--white);
    max-width: var(--max-xl);
  }

  section .services-container .services-cards-wrapper .card-container .card-container-desc h6 {
    font-size: 1.2rem;
  }

  section .services-container .services-cards-wrapper .card-container .card-container-desc p {
    font-size: .9rem;
  }

  /* --------- Services Section End ---------- */



  /* ---------- Galery Section Start ------------ */


  section .galery-hero .galery-container h4 {
    font-size: 2.5rem;
  }

  section .galery-hero .galery-container p {
    max-width: var(--max-xl);
  }

  /* ---------- Galery Section End ------------ */



  /* ---------  Client Section Start ---------*/
  section .client-container {
    max-width: var(--max-2xl);
  }

  section .client-container a img {
    width: 13rem;
  }



  /* ---------  Client Section End ---------*/



  /* ------------ Reviews Section Start ------------ */
  section .review-hero .review-container h4 {
    font-size: 2.5rem;
  }

  section .review-hero .review-container p {
    max-width: var(--max-xl);
  }

  section .review-hero .review-container .review-cards-wrapper {
    justify-content: space-around;
  }

  section .review-hero .review-container .review-cards-wrapper .review-cards-container {
    max-width: 25rem;
  }

  section .review-hero .review-container .review-cards-wrapper .review-cards-container .card-comment p {
    font-size: 1rem;
  }


  section .review-hero .review-container .review-cards-wrapper .review-cards-container .card-person {
    height: 6rem;
    width: 6rem;
  }

  section .review-hero .review-container .review-cards-wrapper .review-cards-container h4 {
    color: var(--white);
    font-size: 1.4rem;
    margin-top: .5rem;
  }

  /* ------------ Reviews Section End ------------ */





  /* ------------ Contact Section Start ------------ */

  section .contact-container .contact-container-left h5 {
    font-size: 2rem;
  }

  section .contact-container .contact-container-left h4 {
    font-size: 2.5rem;
  }

  section .contact-container form {
    width: 50%;
  }

  section .contact-container form .contact-container-form .contact-form-name input,
  section .contact-container form .contact-container-form .contact-form-email input,
  section .contact-container form .contact-container-form .contact-form-message input,
  section .contact-container form .contact-container-form .contact-form-btn button {
    padding: .7rem 1.1rem;
    font-size: 1.1rem;
  }

  section .contact-container form .contact-container-form .contact-form-btn button {
    padding: .8rem 0;
  }

  /* ------------ Contact Section End ------------ */
}